/*================================================================================
	Item Name: Robust - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.bg-login {
    background-image: url("../images/bg-primary1366x800.jpg");
    width: 100%;
}

.line-on-side {
    border-bottom: 1px solid #dadada;
    line-height: 0.1em;
    margin: 10px 0 5px;
}

.form-simple input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; 
}

.form-simple input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; 
}

.btn-simpan {
    width: 100px;
}

.btn-reset {
    width: 100px;
}

/* .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
} */

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #967ADC;
    border-color: #967ADC;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #967ADC;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

th {
    text-align: center;
}

.table th, .table td {
    padding: 0.75rem 0.5rem;
}

.center {
	text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.card-block-login {
    padding: 1.5rem;
}

.config-logo {
    border: 1px solid #ccc;
    padding: 10px;
}

.profil-instansi tr {
    border-bottom: 1px solid #f1f1f1;
}

.profil-instansi td {
    height: 35px;
}

.wajib-isi {
    color: #DA4453;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 1rem;
    padding: .5rem .75rem;
    height: calc(2.45rem - 2px);
    border: 1px solid #D4D4D4;
    border-radius: .18rem;
    background-color: #FFF;
    background-image: none;
    background-clip: padding-box;
    color: #5A5A5A;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1.22;
}

